<h2>My Tasks</h2>
<ul class="tasks">
    <li *ngFor="let Task of task">
        <button type="button" (click)="onSelect(Task)" [class.selected]="Task === selectedTask">
            <span class="badge">Task: {{Task.id}}</span>
            <span class="name">{{Task.status}}</span>
        </button>
    </li>
</ul>

<div>
    <label for="status">Task status: </label>
    <input id="status" [(ngModel)]="Task.status" placeholder="status">
</div>

<div *ngIf="selectedTask">
    <h2>{{selectedTask.status | uppercase}} Details</h2>
    <div>id: {{selectedTask.id}}</div>

    <div>
        <label for="Task-status">Task status: </label>
        <input id="Task-status" [(ngModel)]="selectedTask.status" placeholder="status">
    </div>
</div>