<!-- <h2>My Tasks</h2>
<ul class="tasks"> 
    <li *ngFor="let Task of task">
        <button type="button" (click)="onSelect(Task)" [class.selected]="Task === selectedTask">
            <span class="badge">Task: {{Task.id}}</span>
            <span class="name">{{Task.status}}</span>
        </button>
    </li>
</ul>

<div *ngIf="selectedTask"> 
    <h2>{{selectedTask.status | uppercase}} Details</h2>
    <div>id: {{selectedTask.id}}</div>

    <div>
        <label for="Task-status">Task status: </label>
        <input id="Task-status" [(ngModel)]="selectedTask.status" placeholder="status">
    </div>
</div> -->

<!--mi lista

 <div *ngFor="let task of tasks">
    <span>Task: {{task.id}}</span>
    <span>{{task.description}}</span>
    <span>{{task.status}}</span>
</div> -->

<div class="tasks">
    <div class="task-card" *ngFor="let task of tasks">
        <mat-card>
            <mat-card-title>
               ID: {{task.id}}
            </mat-card-title>
            <mat-card-content>
                <p>{{task.description}}</p>
                <p class="task-status">{{task.status}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>