.task-panel{
    float: right;
    margin-right: 25%;
}

.add-task{
    margin: 20px 10px;
    align-self: left;
}

.task-add-form{
    margin: 20px 10px;
    display: block;
}

.task-add-submit-button{
    margin: 20px 10px;
}